################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/11_mar/Lesson_F/.vs/Lesson_F/v16
/Algorithm/lesson 12-13/.vs/lesson 12-13/v16
