################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/11_mar/Lesson_F/.vs/Lesson_F/v16
/Algorithm/lesson 12-13/.vs/lesson 12-13/v16
/Algorithm/lesson 12-13/Debug
/Algorithm/lesson 12-13/x64/Debug
/Algorithm/Lesson15-16/.vs/Lesson15-16/v16
/Algorithm/Lesson15-16/x64/Debug
/Algorithm/Lesson15-16/Debug
