################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/11_mar/Lesson_F/.vs/Lesson_F/v16
/Algorithm/lesson 12-13/.vs/lesson 12-13/v16
/Algorithm/lesson 12-13/Debug
/Algorithm/lesson 12-13/x64/Debug
/Algorithm/Lesson15-16/.vs/Lesson15-16/v16
/Algorithm/Lesson15-16/x64/Debug
/Algorithm/Lesson15-16/Debug
/OOP/Second/hw_OOP/.vs/hw_OOP/v16
/OOP/Second/hw_OOP/Debug
/OOP/Second/hw_OOP/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.4
/OOP/Second/hw_OOP/x64/Debug
/OOP/Second/Third HW/x64/Debug
CppHardMoment/Lesson1/.vs/CMake Overview
*.db
CppHardMoment/Lesson1/.vs/Lesson1/v16/.suo
*.ipch
*.json
*.sqlite
CppHardMoment/Lesson1/out/build/x64-Debug/.ninja_deps
CppHardMoment/Lesson1/out/build/x64-Debug/.ninja_log
*.ninja
CppHardMoment/Lesson1/out/build/x64-Debug/cmake_install.cmake
*.txt
*.cmake
*.bin
*.exe
*.obj
*.pdb
*.ilk
*.log
/CppHardMoment/Lesson1/out/build/x64-Debug/CMakeFiles
/CppHardMoment/Lesson3/.vs/Lesson3/v16
/CppHardMoment/Lesson3/Lesson3/.vs/Lesson3/v16
/CppHardMoment/Lesson3/Lesson3/Debug
/CppHardMoment/Lesson3/Lesson3/Lesson3.vcxproj.filters
/CppHardMoment/Lesson3/Lesson3/Lesson3.vcxproj.user
/CppHardMoment/Lesson4/ConsoleApplication1/.vs/ConsoleApplication1/v16
/CppHardMoment/Lesson4/ConsoleApplication1/Debug
/CppHardMoment/Lesson4/ConsoleApplication1
/CppHardMoment/Lesson5/Lesson5/.vs/Lesson5/v16
/CppHardMoment/Lesson5/Lesson5/Debug
/CppHardMoment/Lesson5/Lesson5/Lesson5.vcxproj.user
/CppHardMoment/Lesson5/Lesson5/Lesson5.vcxproj.filters
/CppHardMoment/Lesson5/Lesson5/Lesson5.vcxproj
/CppHardMoment/Lesson5/Lesson5/Lesson5.sln
/OOP/Second/OOP8
/CppHardMoment/Lesson6/ConsoleApplication1/.vs/ConsoleApplication1/v16
/CppHardMoment/Lesson6/ConsoleApplication1/Debug
/CppHardMoment/Lesson6/ConsoleApplication1/ConsoleApplication1.sln
/CppHardMoment/Lesson6/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
/CppHardMoment/Lesson6/ConsoleApplication1/ConsoleApplication1.vcxproj.user
/CppHardMoment/Lesson6/ConsoleApplication1/ConsoleApplication1.vcxproj
/CppHardMoment/Lesson7/BinarySer/.vs/BinarySer/v16
SBomberProject/SBomberProject/Debug
SBomberProject/SBomberProject/x64
/SBomberProject/.vs/SBomberProject/v16
